*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}

/**************************/
/******** GERAIS **********/

.clear {
	clear: both;
}

.container{
	width: 100%;
	max-width: 1280px;
	margin:0 auto;
	padding: 0 2%;
}

html,body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

/************************/

.botao-subir{
	display: none;
	width: 40px;
	height: 40px;
	background-color: black;
	position: absolute;
	top: 80%;
	right: 1%;
	z-index: 2;
	position: fixed;
	border-radius: 50%;
}

.botao-subir .fa{
	text-align: center;
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

header {
	padding: 8px 1%;
	background-color: black;
}

header .logo{
	width: 200px;
	height: 50px;
	text-align: center;
	float:left;		
}

.logo h2 {
	font-size: 22px;
	font-weight: bold;
	color: white;
}

.logo p {
	font-size: 15px;
	font-weight: bold;
	color: white;
}

header nav.desktop {
	float: right;
}

header nav.desktop ul {
	list-style-type: none;
}

header nav.desktop ul li {
	float: left;
	padding:0 20px;	
	position: relative;
	top: 13px;
}

header nav.desktop ul li a {
	text-decoration: none;
	color: white;
	font-size: 1em;
	cursor: pointer;
}

nav.mobile{
	float: right;
	margin-right: 10px;
	display: none;	
}

nav.mobile ul{
	z-index: 3;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	top: 66px;
	background-color: rgba(0,0,0,0.89);
	display: none;
}

nav.mobile ul li{
	padding:14px 0;
	border-bottom: 1px solid rgba(255,255,255,0.43);
}

nav.mobile ul li:nth-of-type(5){
	border: 0;
}

nav.mobile a{
    display:block;
    color:white;
    cursor: pointer;
    text-decoration: none;
}

nav.mobile h3{
    position: relative;
    z-index: 3;
    top: 10px;
    color:white;
    cursor:pointer;
    font-size: 22px;
}

/*************************/
/********* BANNER ***********/

section.banner {
	position: relative;
	width: 100%;
	height: auto;	
	padding: 0 2%;	
	/*background-color: orange;*/
	background-attachment: fixed;
	background-image: url('../img/background2.png');	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.mascara-banner{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(255,127,0,0.4)
}

section.banner .container {
	max-width: 1100px;
}

.chamada1-banner{
	position: relative;
	padding:40px 2% 0px 2%;
	z-index: 3;
}

.texto-banner{	
	background-color: rgba(255,255,255,0.21);	
	padding: 40px 5px;
	width: 100%;	
	text-align: center;
	border: 2px solid #f5bb58;		
}

.texto-banner h2 {
	font-family: 'Lora', serif;
	font-weight: 300;
	font-size: 30px;
	color: black;
	margin-top: 20px;
}

.texto-banner h1 {
	font-family: 'Lora', serif;
	font-weight: 300;
	font-size: 30px;
	color: black;
	margin-bottom: 20px;
}

.texto-banner i {
	color:white;
	font-size: 20px;
	margin-left: 10px;
	cursor: pointer;
}

.texto-banner h2:nth-of-type(1){
	margin:0;
}


.texto-banner p {	
	font-family: 'Lora', serif;
	font-weight: 400;
	width: 60%;
	color: black;
	font-size: 21px;	
	display: block;
	margin: 10px auto;	
}

#p-banner-responsivo{     /*NÃO SEI SE É CERTO < POR ENQUANTO DEIXAREI ASSIM.*/
	display: none;
}

#p-banner-seo {
	display:none;
}

.slider-banner{
	position: relative;
	z-index: 3;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;	
	padding:40px 0;
}

.slider-banner-img{
	width: calc(100% / 6);
	height: 200px;	
	border:7px solid rgba(120,120,120,0);
	background-clip: padding-box;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;	
}

span.btn1{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	background-color: purple;
	text-decoration: none;
	border-bottom: 4px solid #904286;
	cursor: pointer;	
	color: white;		
	width: 150px;
	margin:40px 20px 0 auto;
	transition: 0.4s;	
}


.btn1:hover{
	text-decoration: none;
	background-color: #904286;
	color:white;
}

.btn2:hover{
	text-decoration: none;
	background-color: #6a1b9a;
	color:white;
}



/***************** SESSAO PORT **********************/

section.chamada-portfolio {
	padding: 30px 0;
	min-height: 30vh;
	background-color: #99317f;
	background-image: linear-gradient(to right top, #99317f, #ae2e92, #c229a5, #d721ba, #eb12cf);

}

.texto-portfolio {
	padding: 0 2%;
	text-align: center;
}

.texto-portfolio h2 {
	color: white;
	font-size: 32px;
}

.texto-portfolio p {
	color: white;
	font-size: 22px;
	margin-top: 20px;	
}



p.valeAPena{
	font-size: 15px;
}

p.valeAPena span{	
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

section.portfolio {	
	min-height: 70vh;	
	background-color: #fff;
	position: relative;
}

section.portfolio > .container{
	display: flex;
	flex-wrap: wrap;		
	align-items: center;
}

section.portfolio .portfolio-single{
	display: block;
	max-width: 500px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

section.portfolio .portfolio-single a{
	display: block;
	margin: 10px auto;
	width: 100px;
	height: 20px;
	background: #c40b96;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border-radius: 20px;	
}

section.portfolio .portfolio-single img{
	max-width: 100%;
	height: auto;
	display: block;
}



section.portfolio .site-single h3{
	font-size: 15px;
	max-width: 200px;
	font-style: italic;
}

section.portfolio .site-single a{
	text-decoration: none;
	color: #aaa;
}

/* SOBRE */



section.sobre{
	padding: 50px 0 0;
	min-height: 100%;			
}

.marketing-wrapper{
	display: flex;
	align-items: flex-start;	
	position: relative;
}

div.entre-contato{
	position: absolute;
	left: 15%;
	bottom: -20px;
}

div.entre-contato a{
	text-decoration: none;
	color: white;
	background: #c40b96;
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 20px;
	cursor: pointer;
}

.marketing-single{
	flex: 1;
	text-align: center;
	margin: 0 10px;
	border: 2px solid #4a148c;
	padding: 10px 0 0px;
	border-radius: 20px 20px 0 0;
	cursor: pointer;
}

.marketing-single p {
	margin: 10px 0;
	padding: 0 2%;
}

p.citacao{
	color: #444;
	font-style: italic;
}


.marketing-single img{
	max-width: 100%;
	display: block;
	height: auto;
}

/**************************************/
/*************** OFERTAS **************/

section.ofertas{
	padding:10px 2% 60px 2%;
}

section.ofertas .container .coluna{
	width: calc(33.3% - 30px);
	float: left;
	padding:0 0 20px;
	margin:0 15px;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;	
	box-shadow: 0 10px 10px rgba(0,0,0,0.4);
	transition: 0.5s;	
}

.container .coluna:hover{
	transform: scale(1.05)
}

.titulo{
	background:#8c317f;
	padding:15px 0;
}

.titulo .fa{
	font-size: 30px;
	color:#fff;	
}

.titulo h2{
	font-size: 24px;
	color:#fff;
	text-transform: uppercase;
	font-weight: 400;
}

.preco{
	padding:10px;
}

.preco h2{
	color:black;
	font-weight: 400;
	font-size: 25px;
}

.preco h2 span{
	font-size: 40px;
}

.opcao ul{
	list-style: none;	
}

.opcao ul li {
	padding:15px 10px;
	border-bottom: 1px solid rgba(0,0,0,.1)
}

.opcao ul li:last-child{
	border-bottom:none;
}

.opcao ul i{
	margin-right: 10px;
}

.coluna a{
	text-decoration: none;
	padding:10px 40px;
	background:#68f788;
	color:#fff;
	margin:20px 2%;
	display: inline-block;
	border-radius: 40px;
	text-transform: uppercase;
}

.coluna:nth-child(2) .titulo,
.coluna:nth-child(2) a
{
	background: #daa520;
}

.coluna:nth-child(1) .titulo,
.coluna:nth-child(1) a
{
	background:#cd7f32;
}

.coluna:nth-child(3) .titulo,
.coluna:nth-child(3) a
{
	background:#c0c0c0;
}

/*********CONTATO******************/
/*********************************/

section.contato{
	padding: 30px 0px;
	min-height: 100vh;		
}

section.contato h2{
	color: #000;
	text-align: center;
	font-weight: normal;
	padding: 20px 0;
}

section.contato h2::after{
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #000;
	margin: 10px auto 0;
}

section.contato form{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

section.contato input[type=text],
section.contato input[type=email]
{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	padding-left: 10px;
	border: 1px solid #ccc;

}

section.contato textarea{
	width: 100%;
	height: 250px;
	margin-top: 10px;
	resize: none;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid #ccc;
}

section.contato input[type=submit]{
	width: 100px;
	background-color: #458765;
	height: 40px;
	border: none;
	color: white;
	cursor: pointer;
	/*margin-top: 10px;*/
	margin: 10px auto 0;
	display: block;
}


/*******FOOTER**********/
/**********************/

footer{
	padding:40px 2%;
	background-color: #99317f;
	background-image: linear-gradient(to right top, #99317f, #ae2e92, #c229a5, #d721ba, #eb12cf);
	text-align: center;
	color: white;
}

footer h3 {
	font-size: 18px;
	text-align: center;
	font-weight: 400;

}

footer .footer-descricao i{
	font-size: 20px;
	color: white;
	margin: 10px 10px;
}



/*************************/
section.modal{
	display: none;
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100vh;
	background: rgba(20,20,20,0.8);
	z-index: 999;

}

section.modal i{
	font-size: 25px;
	color: white;
	cursor: pointer;
	position: absolute;
	right: 10px;
	transform: translate-x(-50%);
	top: 10px;			
}

section.modal .img-modal{
	max-width: 800px;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

	
}

section.modal .img-modal img{
	display: block;
	max-width: 100%;
}

.overlay-loading{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,.4);
}

.overlay-loading img{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sucesso{
    display: none;
    z-index: 99;
    position: fixed;
    right: 20px;
    top: 20px;
    padding:10px 1%;    
    color: rgb(2, 54, 13);
    background-color: rgb(117, 238, 117);
    font-weight: bold;
    font-size: 14px;
}

.erro{
    display: none;
    z-index: 99;
    position: fixed;
    right: 20px;
    top: 20px;
    padding:10px 1%;    
    color: rgb(54, 0, 0);
    background-color: rgb(252, 143, 143);
    font-weight: bold;
    font-size: 14px;
}


/*************************************/
/**************************************/
@media screen and (max-width: 1024px){
	section.sobre .texto-sobre{		
		margin: 60px auto 0 auto;
		width:100%;		
	}

section.sobre .qualificacao{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	margin: 10px auto;	
	text-align: center;

}

section.sobre .qualificacao-single{
	width: 100%;
	margin-top: 10px;
}
}

@media screen and (max-width: 830px){

div.entre-contato{
	left: 10%;
}

.texto-portfolio h2{
	font-size: 22px;
}

.texto-portfolio p{
	font-size: 15px;
}

p.valeAPena{
	font-size: 15px;
}

.texto-banner{
	padding: 30px 5px;
}


.texto-banner p,
.texto-banner i
{
	font-size: 15px;
}

.texto-banner h1{
	font-size: 20px;
}

.texto-banner h2{
	font-size: 20px;
}
}


@media screen and (max-width: 600px){
	section.portfolio .portfolio-single img{
		min-width: 250px;
	}
}



@media screen and (max-width: 768px){

	div.entre-contato{
		bottom: 0;		
		left: 0;
		margin: 0 auto;
		position: relative;
	}

	section.sobre{
		padding: 0;
	}

	.marketing-wrapper{
		flex-wrap: wrap;
	}

	.marketing-single{
		flex: 1 1 550px;
		margin: 0 0 20px;
	}
	p.citacao{
		font-size: 16px;
	}

	.marketing-single p{
		font-size: 15px;
	}
	nav.desktop{
		display: none;
	}

	nav.mobile{	
		display: block;	
	}


	section.portfolio .site-single{	
		width: 50%;	
	}

	section.ofertas .container .coluna{
		width: 80%;
		float: none;
		padding:0 0 20px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
}
	
}

@media screen and (max-width: 520px){


	.marketing-single p,
	p.citacao{
		font-size: 14px;
	}

	header .logo{
		width: 180px;
		height: 50px;
		text-align: center;
		float:left;		
}

.logo h2 {
	font-size: 20px;	
}

.logo p {
	font-size: 14px;
	}

	.preco h2{
		color:black;
		font-weight: 400;
		font-size: 22px;
}

	.preco h2 span{
		font-size: 28px;
}
	.texto-banner{			
		width: 100%;	
		text-align: center;
	}

	.texto-banner h1{
		margin-bottom: 20px;
	}


	.texto-banner h2 {	
		display: inline-block;			
		margin-top: 20px;
		text-align: center;
		padding: 0 2%;
	}

	.texto-banner h1 {
		display: inline-block;
		font-weight: 300;	
		padding: 0 2%;
		text-align: center;
		
}


	.texto-banner h2:nth-of-type(1){
		margin:0;
	}

	.texto-banner p {
		padding: 0 2%;		
		width: 100%;
		font-size: 18px;
		text-align:center;
		margin:20px auto;				
	}

	.slider-banner-img{	
		height: 150px;	
	}

	.btn1{
		display: block;	
		margin:40px auto 0 auto;	
	}

	.btn2{
		display: block;	
		margin:40px auto 0 auto;		
	}

	section.portfolio .site-single{	
		width: 100%;	
	}


	/*.slide-banner{			
		width: 600%;	
	}*/

/*	.slide-banner-single{		
		border-radius: 20px;
		float: left;
		width: calc(100% * (100 / 600));
		padding-top: calc(100% * (100 / 600) * 0.4);
		border:7px solid rgba(120, 120, 120,0);	
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-clip: padding-box;
	}	*/

	
}