*{margin:0;padding: 0; box-sizing: border-box;}
html,body{height: 100%;font-family: 'Open Sans', sans-serif; font-size: 10px;}


.clear{clear: both;}
.container{max-width: 1280px; margin: 0 auto; padding: 0 1%;}




$header_color: rgb(102, 215, 250);
$header_color2: rgb(55, 204, 179);
$blue_menu: rgb(21, 77, 67);
$mascara_banner: rgba(21, 77, 67, 0.8);
$background_texto: rgb(223, 250, 245);


/*HEADER - MENUS*/
/****************/

header{
    padding: 10px 1%;
    background: linear-gradient(90deg, $header_color2 , $header_color); 
    z-index: 3;
    border-bottom: 1px solid white;

    .logo{
        float: left;
        text-align: center;
        width: 200px;

        h2{
            text-align: center;
            font-size: 2.2rem;
            font-weight: bold;
        }
        p{
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

nav.desktop{
    float: right;
    
    ul{
        list-style-type: none;
        position: relative;
        top: 15px;
    }
    
    li{
        display: inline-block;
        margin: 0 10px;
    }

    a{
        color: $blue_menu;
        text-decoration: none;       
        font-size: 1.7rem;
        font-weight: bold;
    }
}

nav.mobile{
    display: none;
}

/*BANNER PRINCIPAL*/
/******************/

section.banner-principal{    
    position: relative;
    padding: 80px 0;    
    width: 100%;
    height: auto;    
    background-image: url(../img/gorilla3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

    

    .mascara-banner-principal{
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mascara_banner;
    }

    .seta-descer{
        z-index: 3;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateY(50%);
        width: 40px;
        height: 40px;
        background-image: url(../img/icone_descer2.png);
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .banner-video{
        z-index: 44;
        margin-bottom: 20px;
        width: 48%;
        padding-right: 10px;
        order: 1; 
        iframe{       
            width: 100%;
            height: 315px;
            background:black;
            z-index: 44;
            border: 3px solid #fff;
        }
    }

    .banner-chamada{
        order: 2;
        width: 100%;
        max-width: 600px;
        position: relative;
        z-index: 3;
        text-align: center;    

        h1{
            color: white;
            font-size: 4.0rem;
        }

        h1::after{
            content: '';
            position: relative;
            display: block;
            margin: 0 auto;
            height: 2px;
            width: 100px;
            background: #fff;
            margin-top: 10px;
        }

        p{
            color: #ddd;
            line-height: 30px;
            font-size: 2.2rem;
            font-weight: 300;
            margin-top: 50px;
        }
       
    }
}

/*SOBRE*/
/*******/

section.sobre{
    background-color: $background_texto;
    padding: 80px 0;
    .sobre-descricao{
        max-width: 800px;
        margin: 0px auto 80px auto;

        h2{
            text-align: center;
            font-size: 2.2rem;
        }
        p{
            text-align: left;
            font-size: 1.7rem;
            color: #333;
            font-weight: 600;
            margin-top: 20px;
            line-height: 30px;
        }
    }
    .sobre-descricao:last-of-type{
        margin-bottom: 0;
    }
}

/*Cursos*/
/********/

section.cursos{
    padding:60px 0;
    background-color: #eee;
    
    .container{
        display: flex;
        flex-wrap: wrap;
    }
   
    .cursos-modulo-wrapper{
        width: 50%;               
        background: linear-gradient(to top, $header_color,$header_color2);
        border: 7px solid rgba(0,0,0,.0);
        background-clip: padding-box;
        padding: 40px 10px;
        border-radius: 30px;
        transition: 0.7s;
        &:hover{
            transform: scale(1.05);
        }

        a{
            width: 150px;
            height: 50px;
            line-height: 50px;
            background-color: #333;
            color: white;
            font-size: 1.7rem;           
            text-decoration: none;
            text-align: center;
            display: block;            
            margin: 20px auto 0 auto;
            transition: 0.7s;
            font-weight: 600;
            
            &:hover{
                background-color: white;
                color: #333;
                border: 1px solid #333;
            }
        }
        
    }

    .cursos-modulo-titulo{
        text-align: center;

        i{
            font-size: 6rem;
            color: #333;
        }

        h2{
            display: block;
            margin: 0 auto;
            font-size: 2.2rem;      
            padding: 10px 0;
            color: $blue_menu;
    
            &::after{
                content: '';
                position: relative;
                display: block;
                margin: 0 auto;
                height: 2px;
                width: 100px;
                background: #333;
                margin-top: 10px;
            }        
    }   
       
    }
    .cursos-modulo-descricao p{
        font-size: 1.7rem;
        text-align: center;
        font-weight: 600;
        padding: 10px 0;
        color: #333;
        line-height: 30px;
    }
}
@media screen and (max-width: 900px){
    section.banner-principal .banner-video{width: 100%;}
}
@media screen and (max-width: 768px){
    html,body{
        font-size: 9px;
    }

    section.cursos{            
        .cursos-modulo-wrapper{
            width: 100%;
            margin-top: 20px;
        }
    }
    
}