*{margin:0;padding: 0; box-sizing: border-box;}
html,body{height: 100%;font-family: 'Open Sans', sans-serif; font-size: 10px; position: relative;}


.clear{clear: both;}
.container{max-width: 1100px; margin: 0 auto; padding: 0 2%; }


$header_color: rgb(102, 215, 250);
$header_color2: rgb(55, 204, 179);
$header_color3: rgb(255, 196, 161);
$header_color4: rgb(252, 206, 0);
$blue_menu: rgb(21, 77, 67);
$mascara_banner: rgba(21, 77, 67, 0.8);
$background_texto: rgb(223, 250, 245);



/*IMAGEM HTML*/

.imagem-html{
    position: fixed;
    right: 0;
    bottom: 5px;  
    z-index: 3;     
}
 .imagem-html img{
    
     max-width: 80px;
     max-height: 80px;
 }


/*HEADER - MENUS*/
/****************/

header{
    padding: 10px 1%;
    background: linear-gradient(90deg, $header_color2 , $header_color); 
    z-index: 3;
    border-bottom: 1px solid white;
    position: fixed; 
    width: 100%;

    .logo{
        float: left;
        text-align: center;
        width: 200px;

        h2{
            text-align: center;
            font-size: 2.2rem;
            font-weight: bold;
        }
        p{
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

nav.desktop{
    float: right;
    
    ul{
        list-style-type: none;
        position: relative;
        top: 15px;
    }
    
    li{
        display: inline-block;
        margin: 0 10px;
    }

    a{
        color: $blue_menu;
        text-decoration: none;       
        font-size: 1.7rem;
        font-weight: bold;
    }
}

nav.mobile{
    display: none;
}

section.chamada-html-basico{
    min-height: 70vh;    
    padding: 110px 0;
    background: linear-gradient($header_color3,$header_color4);
    position: relative;  
   
    
    .chamada-html-descricao{
                
        h1{            
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 700;
        }
        p{
            font-size: 1.8rem;            
            font-weight: 600;
            margin: 10px;            
        }
    }
    ul{    
        position: absolute;
        bottom: 20px;                      
        list-style-type: decimal;
        color: rgb(70, 70, 70);
        font-size: 1.3rem;
        margin: 40px auto 0 auto;
        text-align: center;              
    }
    li{
       display: inline-block;
       margin: 10px 20px;     
    }
    a{
        font-size: 1.6rem;
        color: black;
        text-decoration: none;        
    }
    
}