* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  position: relative; }

.clear {
  clear: both; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%; }

/*IMAGEM HTML*/
.imagem-html {
  position: fixed;
  right: 0;
  bottom: 5px;
  z-index: 3; }

.imagem-html img {
  max-width: 80px;
  max-height: 80px; }

/*HEADER - MENUS*/
/****************/
header {
  padding: 10px 1%;
  background: linear-gradient(90deg, #37ccb3, #66d7fa);
  z-index: 3;
  border-bottom: 1px solid white;
  position: fixed;
  width: 100%; }
  header .logo {
    float: left;
    text-align: center;
    width: 200px; }
    header .logo h2 {
      text-align: center;
      font-size: 2.2rem;
      font-weight: bold; }
    header .logo p {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold; }

nav.desktop {
  float: right; }
  nav.desktop ul {
    list-style-type: none;
    position: relative;
    top: 15px; }
  nav.desktop li {
    display: inline-block;
    margin: 0 10px; }
  nav.desktop a {
    color: #154d43;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold; }

nav.mobile {
  display: none; }

section.chamada-html-basico {
  min-height: 70vh;
  padding: 110px 0;
  background: linear-gradient(#ffc4a1, #fcce00);
  position: relative; }
  section.chamada-html-basico .chamada-html-descricao h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700; }
  section.chamada-html-basico .chamada-html-descricao p {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 10px; }
  section.chamada-html-basico ul {
    position: absolute;
    bottom: 20px;
    list-style-type: decimal;
    color: #464646;
    font-size: 1.3rem;
    margin: 40px auto 0 auto;
    text-align: center; }
  section.chamada-html-basico li {
    display: inline-block;
    margin: 10px 20px; }
  section.chamada-html-basico a {
    font-size: 1.6rem;
    color: black;
    text-decoration: none; }

/*# sourceMappingURL=style-html.css.map */
